In [105]:
#1
import pandas as pd

# Creating Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)

# Creating Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)

# Creating Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)

# Saving DataFrames to CSV files
employee_df.to_csv('Employee.csv', index=False)
seniority_df.to_csv('Seniority.csv', index=False)
project_df.to_csv('Project.csv', index=False)

In [107]:
#2
import numpy as np

# Load Project DataFrame from CSV
project_df = pd.read_csv('Project.csv')

# Compute running average for missing cost values
running_sum = 0
count = 0
for i in range(len(project_df)):
    if np.isnan(project_df.loc[i, 'Cost']):
        project_df.loc[i, 'Cost'] = running_sum / count
    else:
        running_sum += project_df.loc[i, 'Cost']
        count += 1

# Save updated Project DataFrame
project_df.to_csv('Project.csv', index=False)

In [109]:
#3
import pandas as pd

# Load Employee DataFrame from CSV
employee_df = pd.read_csv('Employee.csv')

# Ensure the Name column contains strings and handle missing values
employee_df['Name'] = employee_df['Name'].fillna('').astype(str)

# Split the Name column into First Name and Last Name manually
# Split the 'Name' into two parts
employee_df['First Name'] = employee_df['Name'].apply(lambda x: x.split(' ', 1)[0])
employee_df['Last Name'] = employee_df['Name'].apply(lambda x: x.split(' ', 1)[1] if len(x.split(' ', 1)) > 1 else '')

# Drop the old Name column
employee_df.drop('Name', axis=1, inplace=True)

# Save the updated Employee DataFrame
employee_df.to_csv('Employee.csv', index=False)

# Print to verify the result
print(employee_df.head())

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [111]:
#4
# Merge Employee and Seniority DataFrames
final_df = pd.merge(employee_df, seniority_df, on='ID')

# Merge with Project DataFrame
final_df = pd.merge(final_df, project_df, on='ID')

# Save the final DataFrame
final_df.to_csv('Final.csv', index=False)

In [113]:
#5
# Load Final DataFrame from CSV
final_df = pd.read_csv('Final.csv')

# Add Bonus column
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Save updated Final DataFrame
final_df.to_csv('Final.csv', index=False)

In [115]:
#6
# Demote designation level
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] += 1

# Remove employees with designation level above 4
final_df = final_df[final_df['Designation Level'] <= 4]

# Save updated Final DataFrame
final_df.to_csv('Final.csv', index=False)

In [117]:
#7
if 'Gender' in final_df.columns:
    # Add Mr./Mrs. prefix based on Gender
    final_df['First Name'] = final_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

    # Drop the Gender column
    final_df.drop('Gender', axis=1, inplace=True)

    # Save the updated Final DataFrame
    final_df.to_csv('Final.csv', index=False)

    # Check the updated DataFrame
    print(final_df.head())
else:
    print("Column 'Gender' does not exist in the DataFrame.")

     ID    City  Age  First Name  Last Name  Designation Level     Project  \
0  A001   Paris   25    Mr. John      Alter                  2   Project 1
1  A001   Paris   25    Mr. John      Alter                  2   Project 9
2  A001   Paris   25    Mr. John      Alter                  3  Project 11
3  A002  London   27  Mrs. Alice  Luxumberg                  2   Project 2
4  A002  London   27  Mrs. Alice  Luxumberg                  3   Project 6

           Cost    Status    Bonus
0  1.002000e+06  Finished  50100.0
1  2.061714e+06   Ongoing      0.0
2  2.000000e+06    Failed      0.0
3  2.000000e+06   Ongoing      0.0
4  6.800000e+05    Failed      0.0

In [119]:
#8
# Promote designation level
final_df.loc[(final_df['Age'] > 29) & (final_df['Designation Level'] > 1), 'Designation Level'] -= 1

# Save updated Final DataFrame
final_df.to_csv('Final.csv', index=False)
print(final_df.head())

     ID    City  Age  First Name  Last Name  Designation Level     Project  \
0  A001   Paris   25    Mr. John      Alter                  2   Project 1
1  A001   Paris   25    Mr. John      Alter                  2   Project 9
2  A001   Paris   25    Mr. John      Alter                  3  Project 11
3  A002  London   27  Mrs. Alice  Luxumberg                  2   Project 2
4  A002  London   27  Mrs. Alice  Luxumberg                  3   Project 6

           Cost    Status    Bonus
0  1.002000e+06  Finished  50100.0
1  2.061714e+06   Ongoing      0.0
2  2.000000e+06    Failed      0.0
3  2.000000e+06   Ongoing      0.0
4  6.800000e+05    Failed      0.0

In [123]:
#9
# Calculate total project cost
total_cost_df = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_cost_df.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Save the new DataFrame
total_cost_df.to_csv('TotalProjCost.csv', index=False)

In [21]:
#10
# Filter employees based on city name containing 'o'
filtered_df = final_df[final_df['City'].str.contains('o', case=False)]

# Print the filtered DataFrame
print(filtered_df)

      ID     City  Age  Designation Level     Project       Cost    Status  \
3   A002   London   27                  2   Project 2  2000000.0   Ongoing
4   A002   London   27                  3   Project 6   680000.0    Failed
8   A004  Newyork   31                  1   Project 4  5500000.0   Ongoing
9   A004  Newyork   31                  1  Project 12  1000000.0   Ongoing
10  A004  Newyork   31                  1  Project 13  3000000.0  Finished

       Bonus  First Name  Last Name
3        0.0  Mrs. Alice  Luxumberg
4        0.0  Mrs. Alice  Luxumberg
8        0.0   Mrs. Nina      Adgra
9        0.0   Mrs. Nina      Adgra
10  150000.0   Mrs. Nina      Adgra